*.log
*.cache
*.txt
.data/
.idea/
.direnv/
.vscode/
*.env
logfile

client/
Notes/
**/dist/
**/node_modules/
**/__pycache__/
.s.PGSQL.5432
.s.PGSQL.5432.lock
**/eventsUrlScraper.py
**/aggregatorShow.py
**/YouTubeURLScraper.py