*.log
*.cache
.data/
.idea/
.direnv/
*.env
logfile
Notes.txt
**/dist/
**/node_modules/
**/__pycache__/
.s.PGSQL.5432
.s.PGSQL.5432.lock
**/eventsUrlScraper.py
**/aggregatorShow.py
**/YouTubeURLScraper.py