.playlist-gen-view-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    min-height: fit-content;
    margin-top: 35px;
}
.csv-bg-color { background-color: #abd3df; }
.spotify-bg-color { background-color: #00dc52; }
.youtube-bg-color { background-color: #ff4d4d; }
.svg-container {
    max-width: fit-content;
    max-height: fit-content;
    color: #444444;
}
#songs-btn {
    background-color: transparent;
    border: solid transparent;
}
#songs-btn.selected {
    border: solid black;
}
.songs-view-container {
    position: absolute;
    top: 12%;
    right: 2%;
    z-index: 4;
    width: 350px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    overflow-y: visible;
    overflow-x: visible;
}
.songs-view-container .source-tabs {
    display: flex;
    width: 100%;
    margin: 0px;
    border-bottom: solid #212121 1.5px;
}
button.source-btn {
    flex: 1;
    width: 100%;
    border: solid transparent 2px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin: 4px 0px 0px 0px;
}
button.source-btn.selected {
    border: solid #212121 1.5px;
    border-bottom: none;
}

/* Song List Stlye */
.songs-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: fit-content;
    width: 97%;
    height: 100%;
    border: 1.5px solid #212121;
    padding: 6px;
    border-radius: 10px;
    overflow-x: visible;
    overflow-y: visible;
}
.songs-list-container ul {
    height: 95%;
    width: 100%;
    margin: 0;
    overflow-y: auto;
    padding-inline-start: 0px; /* Remove default inline padding */
}
.songs-list-container .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.songs-list-container .footer span {
    color: black;
}
.songs-list-container .footer button {
    background-color: transparent;
}

/* Song List Item Style */
.overlay {
    position: absolute;
    right: 100px;
    width: 200px;
    height: fit-content;
    overflow: auto;
    background-color: #fff;
    color: black;
    border: 0.5px solid #242424;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    z-index: 5;
}
.meta-container {
    display: flex;
    align-items: end;
}
.meta-container .artist-name {
    font-size: 12px;
    max-width: 80%;
    margin-left: 2px;
    padding-left: 0px;
    align-self: center;
}
.song-title {
    font-weight: bold;
    max-width: 96%;
    margin-top: 8px;
    padding-left: 0px;
}
.source-meta-container {
    display: flex;
}
.source-meta {
    display: flex;
    justify-content: start;
    width: 20px;
    height: 20px;
    margin: 1px;
    cursor: pointer;
}
.songs-list-container .songs-list-item {
    background: #fff;
    color: #333;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 5px;
    max-height: fit-content;
    min-height: 8.5%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    overflow: hidden; 
    transition: background 0.3s, color 0.3s;
}
.loading-animation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 1.5rem;
    color: #333;
}

.loading-animation:before {
    content: '';
    width: 30px;
    height: 30px;
    border: 4px solid #ccc;
    border-top-color: #007bff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-right: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.songs-list-container .songs-list-item.dark-mode {
    background: #33333374;
    color: #fff;
}
.songs-list-item > div {
    display: flex;
    align-self: stretch;
    flex: 1;
}
.songs-list-item .text-container {
    display: flex;
    padding-right: 5px;
    padding-left: 5px;
    flex-direction: column;
    flex: 1;
    max-width: 100%; /* Ensure text container does not exceed item width */
    overflow: hidden; /* Hide overflow content */
}
.songs-list-item p {
    width: fit-content;
    margin: 2px;
    text-align: start;
    white-space: nowrap;
    font-size: small;
    overflow: hidden;
    text-overflow: ellipsis;
}
.songs-list-item p:hover { /* Display full text on hover */
    white-space: normal; /* Allow text to wrap */
    overflow: visible;   /* Ensure the overflow is visible */
    text-overflow: clip; /* Disable ellipsis */
    max-width: max-content; 
}
.songs-list-item .remove-toggle {
    background: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s, color 1s;
}
.songs-list-item .remove-toggle.dark-mode {
    background: #ebe8e8;
    border-left: solid #ffffff8e 1px;
    margin-left: 2px;
}
.song-title {
    max-width: 96%;
    margin-top: 8px;
    padding-left: 0px;
    font-weight: bold;

}
.artist-album-container {
    display: flex;
    align-items: center;
}
.overlay .artist-img {
    overflow: hidden;
}
.overlay .artist-img img {
    height: 160px;
    width: 160px;
}
.overlay .artist-name {
    align-self: center;
    max-width: 80%;
    padding-left: 0px;
    font-size: 12px;
}
.artist-album-container .album-name {
    align-self: center;
    padding-left: 0px;
    font-size: 12px;
}
.artist-album-container .break {
    align-self: center;
    font-size: 11px;
    margin: 2px;
}
.event-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding-top: 14px;
    padding-bottom: 4px;
}
.event-info .date {
    min-width: fit-content;
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    font-size: 12px;
}
.event-info .location {
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    margin: 0px;
    margin-left: 6px;
    padding: 0px;
    cursor: pointer;
}
.event-info .price-time-container {
    display: flex;
    flex-direction: column;
    align-items: end;
}
.event-info .price-time-container p {
    font-size: 10px;
    white-space: nowrap; /* Allow text to wrap */
    overflow: visible; /* Ensure the overflow is visible */
    text-overflow: clip; /* Disable ellipsis */
    max-width: max-content;
}


/* Save Playlist Style */
.save-playlist-view-container button {
    margin: 4px;
}
.save-playlist-modal-container {
    position: absolute;
    top: 30%;
    right: 5%;
    z-index: 4;
    height: fit-content;
    width: 90%;
    padding: 4px;
    border: 1px solid #888;
    border-radius: 7px;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.save-playlist-modal-container .header {
    flex: 1;
    border-radius: 5px;
    border-bottom: solid #33333320;
    display: flex;
    justify-content: space-between;
}
.save-playlist-modal-container .header h1 {
    flex: 1;
    font-size: 17px;
    font-weight: 540;
    color: black;
    margin-bottom: 5px;
    margin-left: 5px;
    text-align: center;
}
.save-playlist-modal-container .header p {
    font-size: 17px;
    font-weight: 540;
    color: black;
    margin-bottom: 5px;
    margin-left: 5px;
}
.save-playlist-modal-container .header button {
    background-color: transparent;
    color: #5b616a;
    border: none;
    margin-right: 2px;
    font-size: 18px;
}

.save-playlist {
    display: flex;
    align-items: center;
    color: black;
}
#playlist-name-input {
    position: relative;
    left: 1%;
    flex: 5;
    display: flex;
    align-items: center;
}
.save-playlist input {
    width: 40%;
}
#playlist-name-input label {
    margin-right: 4px;
}
.save-playlist-footer {
    margin-top: 4px;
    padding-top: 8px;
    border-top: solid #33333320;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.save-playlist-footer button {
    width: 200px;
    margin: 2px;
    margin-top: 0px;
}
