#filter-btn {
    background-color: transparent;
    border: solid transparent;
}
#filter-btn.selected {
    border: solid black;
}
.filter-modal-container {
    position: absolute;
    top: 12%;
    right: 5%;
    z-index: 4;
    border: 1px solid #888;
    border-radius: 7px;
    background-color: white;
    /* background-color: hsl(0, 0%, 41%); */
    height: 80%;
    width: 90%;
    display: flex;
    flex-direction: column;
}
.filter-modal-container .contents {
    flex: 10;
    display: flex;
    overflow-y: auto;

}
.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}
/* Order By css */
.order-bys {
    align-self: end;
    margin-bottom: 1px;
}
.order-by-modal-container {
    position: absolute;
    top: 17%;
    right: 5%;
    z-index: 4;
    border: 1px solid #888;
    border-radius: 7px;
    background-color: white;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    color: black;
}
.order-by-modal-container .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
}
.order-by-modal-container .title h3 {
    padding-left: 5px;
    margin: 0;
    font-size: small;
}
.order-by-modal-container .title button {
    height: fit-content;
    background-color: transparent;
}
.order-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(187, 187, 187);
    font-size: 12px;
    padding-right: 5px;
}
button.order-random {
    align-self: center;
    margin: 5px;
    width: fit-content;
}

/* Filter Title css */
.filter-title {
    flex: 1;
    border-radius: 5px;
    border-bottom: solid #33333320;
}
.filter-title .header {
    display: flex;
    justify-content: space-between;
}
.filter-title h1 {
    font-size: 17px;
    font-weight: 540;
    color: black;
    margin-bottom: 5px;
    margin-left: 5px;
}
.filter-title p {
    color: black;
    font-size: 11px;
    text-align: start;
    margin: 0px;
    margin-left: 5px;
    margin-bottom: 5px;
}
.filter-title button {
    background-color: transparent;
    color: #5b616a;
    border: none;
    margin-right: 2px;
    font-size: 18px;
}

/* Filter list css */
.filter-list {
    flex: 1;
    border-radius: 2px;
    border-right: solid #33333320;
    overflow-y: auto;
}
.filter-list .header {
    display: flex;
    justify-content: space-between;
}
.filter-list .header .reqex-filter-tab {
    flex: 0;
    padding-left: 10px;
}
.filter-list h2 {
    padding-left: 5px;
    font-size: 14px;
    font-weight: 540;
    color: black;
}
.filter-label {
    border: solid #6b6b6b69;
    border-radius: 10px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 10px;
    padding-left: 2px;
    cursor: pointer;
}
.filter-label.selected {
    border: solid #111111c1;
}
.filter-label h3 {
    color: black;
    font-size: 14px;
    font-weight: 400;
}
.filter-label button {
    border: transparent;
    background-color: transparent;
    cursor: pointer;
}
.filter-label .tabs-container {
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
}
.filter-list .reqex-filter-tab {
    color: black;
    padding: 0px 2px 0px 2px;
    /* max-width: fit-content; */
    flex: 1 0 fit-content;
    text-align: center;
}
.filter-list .reqex-filter-tab span {
    margin: 2px;
}
.filter-list .reqex-filter-tab button {
    color: black;
}

/* Filter menu css */
.filter-menu-container {
    flex: 2;
    color: black;
    background-color: #efefef;
    height: 100%;
}
.filter-menu {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.menu-input {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.reqex-input-container {
    flex: 2;
    display: flex;
    margin-right: 4px;
    margin-left: 2px;
    padding: 2px;
}
.reqex-btn-container {
    flex: 1;
    display: flex;
    padding: 4px;
    padding-left: 0px;
    padding-right: 4px;
}
.reqex-btn {
    width: 50%;
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    color: hsla(0, 0%, 100%, 0.812);
}
.req-btn {
    margin-left: 2px;
    background-color: #3b694e;
    box-shadow: inset -5px -5px 10px hsl(145, 28%, 15%), inset 1px 1px 3px #ffffff;
}
.reqex-btn.only {
    width: 100%;
}
.req-btn:hover {
    box-shadow: inset 5px 5px 10px hsl(145, 28%, 15%), inset -1px -1px 3px #ffffff;
}
.ex-btn {
    background-color: #da3a34;
    box-shadow: inset -5px -5px 10px hsl(2, 69%, 30%), inset 1px 1px 3px #ffffff;

}
.ex-btn:hover {
    box-shadow: inset 5px 5px 10px hsl(2, 69%, 30%), inset -1px -1px 3px #ffffff;
}
.reqex-list {
    flex: 1;
    /* border: solid; */
    overflow-y: hidden;
    display: flex;
    align-items: center;
}
.reqfilters-list {
    flex: 1;
    /* display: flex; */
    height: 100%;
    overflow-y: auto;
    background-color: #3b694e;
}
.exfilters-list {
    background-color: #da3a34;
    flex: 1;
    height: 100%;
    overflow-y: auto;
}
.reqex-filter-tab {
    border: 1px solid;
    display: flex;
    border-radius: 15px;
    margin: 5px;
    padding: 2px 4px 2px 6px;
    font-size: 12px;
    align-items: center;
    color: #ffffff;
}
.reqex-filter-tab span {
    flex: 2;
    width: fit-content;
}
.reqex-filter-tab button {
    flex: 1;
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-align: end;
    font-size: 14px;
}
label.toggle {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: solid; */
    padding: 10px;
}
.toggle strong {
    font-size: 16px;
    font-weight: 400;
    margin-right: 10px;
}
.toggle span {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 20px;
    border-radius: 30px;
    background: #2c3e50;
    cursor: pointer;
    transition: 0.3s;
}
.toggle span:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 3px;
    bottom: 2.6px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.3s;
}
.toggle input:checked + span {
    background-color: #00c853;
}
.toggle input:checked + span::before {
    transform: translateX(25px);
}
p {
    margin: 8px;
    text-align: center;
}
/* Filter footer css */
.filter-footer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
    border-top: solid #33333320;
    border-radius: 5px;
    padding: 0px 10px 0px 10px;
    font-size: 16px;
    color: black;
}

