#filter-btn {
    width: 100%;
}

.modal-container {
    position: absolute;
    top: 10%;
    right: 5%;
    z-index: 4;
    border: 1px solid #888;
    border-radius: 7px;
    background-color: white;
    /* background-color: hsl(0, 0%, 41%); */
    height: 80%;
    width: 90%;
    display: flex;
    flex-direction: column;
}
.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.filter-title {
    flex: 1;
    border-radius: 5px;
    border-bottom: solid #33333320;
}
.filter-title h1 {
    font-size: 17px;
    font-weight: 540;
    color: black;
    margin-bottom: 5px;
    margin-left: 5px;
}
.filter-title p {
    color: black;
    font-size: 11px;
    text-align: start;
    margin: 0px;
    margin-left: 5px;
    margin-bottom: 5px;
}
.filter-title button {
    background-color: transparent;
    color: #5b616a;
    border: none;
    margin-right: 2px;
    font-size: 18px;
}

.filter-list {
    flex: 1;
    border-radius: 2px;
    border-right: solid #33333320;
    overflow-y: auto;
}
.filter-list h2 {
    font-size: 14px;
    font-weight: 540;
    color: black;
}
.filter-label {
    border: solid #6b6b6b69;
    border-radius: 10px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 10px;
    padding-left: 2px;
    /* padding-right: 2px; */
}
.filter-label h3 {
    color: black;
    font-size: 14px;
    font-weight: 400;
}
.filter-label button {
    border: transparent;
    background-color: transparent;
}

.filter-menu {
    flex: 2;
    color: black;
    background-color: #efefef;
    height: 100%;
}
.menu-input {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.reqex-input-container {
    flex: 3;
    display: flex;
}
.reqex-btn-container {
    flex: 1;
    display: flex;
}
.reqex-btn {
    margin: 4px;
    margin-left: 2px;
    margin-right: 2px;
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    color: hsla(0, 0%, 100%, 0.812);
}
.req-btn {
    background-color: #3b694e;
    box-shadow: inset -5px -5px 10px hsl(145, 28%, 15%), inset 1px 1px 3px #ffffff;
}
.req-btn:hover {
    box-shadow: inset 5px 5px 10px hsl(145, 28%, 15%), inset -1px -1px 3px #ffffff;
}
.ex-btn {
    background-color: #da3a34;
    box-shadow: inset -5px -5px 10px hsl(2, 69%, 30%), inset 1px 1px 3px #ffffff;

}
.ex-btn:hover {
    box-shadow: inset 5px 5px 10px hsl(2, 69%, 30%), inset -1px -1px 3px #ffffff;
}
.reqex-list {
    flex: 1;
    /* border: solid; */
    overflow-y: hidden;
    display: flex;
    align-items: center;
}
.reqfilters-list {
    flex: 1;
    /* display: flex; */
    height: 100%;
    overflow-y: auto;
    background-color: #3b694e;
}
.exfilters-list {
    background-color: #da3a34;
    flex: 1;
    height: 100%;
    overflow-y: auto;
}
.reqex-filter-tab {
    border: 1px solid;
    display: flex;
    border-radius: 15px;
    margin: 5px;
    padding: 2px 4px 2px 6px;
    font-size: 12px;
    align-items: center;
    color: #ffffff;
}
.reqex-filter-tab span {
    flex: 2;
    width: fit-content;
}
.reqex-filter-tab button {
    flex: 1;
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-align: end;
}
label.toggle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: solid; */
    padding: 10px;
}
.toggle strong {
    font-size: 16px;
    font-weight: 400;
    margin-right: 10px;
}
.toggle span {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 20px;
    border-radius: 30px;
    background: #2c3e50;
    cursor: pointer;
    transition: 0.3s;
}
.toggle span:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 3px;
    bottom: 2.6px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.3s;
}
.toggle input:checked + span {
    background-color: #00c853;
}
.toggle input:checked + span::before {
    transform: translateX(25px);
}


.filter-footer {
    flex: 1;
    border-radius: 5px;
    border-top: solid #33333320;
    display: flex;
    height: 10%;
}




/* vv Deprecated vv */
.filter-inputs {
    flex: 2;
}
.filter-lists {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
}
p {
    /* border: 1px solid red; */
    margin: 8px;
    text-align: center;
}
/* Neuomorphic styles */
.neuomorphic-input {
    display: flex;
    /* border: 5px solid green; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    color: #333;
    width: 95%;
    border-radius: 15px;
    box-shadow: -2px -2px 2px #b8b8b8, 2px 2px 1px #ffffff;
}
.neuomorphic-input input {
    /* flex: 1; */
    border: none;
    outline: none;
    background-color: #add8e600;
    color: white;
    cursor: pointer;

}
/* Date input */
.neuomorphic-input input[type="date"] {
    padding: 10px;
    border-radius: 10px;
    box-shadow: inset -2px -2px 3px #b8b8b8, inset 2px 2px 3px #ffffff;
}
/* Name input */
.neuomorphic-input input[type="text"] {
    padding: 10px;
    border-radius: 10px;
    box-shadow: inset -2px -2px 2px #b8b8b8, inset 2px 2px 6px #ffffff;
}
/* Neuomorphic buttons */
.neuomorphic-btn {
    padding: 7px 10px;
    text-align: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: hsla(0, 0%, 100%, 0.812);
}

.input-label {
    display: inline-block;
    font-size: 20px;
    padding: 7px;
    margin-top: 5px;
    margin-bottom: 1px;
    border-radius: 10px;
    text-align: center;
    color: hsla(0, 0%, 100%, 0.812);
    width: 100%;
}
.exreq-input {
    width: 37%;
}
.exreq-date-container {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.exreq-date-label {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
}
.exreq-date-switch {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}
