/* Map Style */
.map-container {
    height: 100%;
}
#mapUI {
    z-index: 0;
    height: 100%;
    cursor: auto;
}
.leaflet-popup-content-wrapper {
    color: light-dark(var(--light-mode-text-color), var(--dark-mode-text-color));
    background-color: light-dark(var(--light-mode-background-color), var(--dark-mode-background-color));
    /* width: fit-content !important; */
}
.leaflet-popup-content {
    height: 480px;
    width: 240px !important;
}
.leaflet-popup-tip {
    background-color: light-dark(var(--light-mode-background-color), var(--dark-mode-background-color));
}
.venue-marker-popup {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    /* max-width: 100%; */
    width: 100%;
    overflow-x: hidden;
    max-height: 480px;
    overflow-y: auto;
    padding: 0px;
    margin: 0px;
    background-color: light-dark(var(--light-mode-background-color), var(--dark-mode-background-color));
}
.leaflet-popup-content {
    margin: 20px 4px 4px 4px;
    width: 260px !important;
}

/* Header */
.leaflet-popup-close-button {
    color: light-dark(var(--light-mode-secondary-color), var(--dark-mode-accent-color)) !important;
}
.venue-marker-popup-title-container {
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 100%;
    border-bottom: solid 1px light-dark(var(--light-mode-secondary-color), var(--dark-mode-secondary-color));
    border-radius: 4px;
    padding: 5px 5px 2px 5px;
    margin-bottom: 2px;
}
.venue-marker-popup-title {
    flex: 1;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    /* override leaflet css */
    color: light-dark(var(--light-mode-text-color), var(--dark-mode-text-color)) !important;
}
.venue-marker-popup-title-reqex-btn-container {
    width: fit-content;
    display: flex;
    justify-content: end;
    padding-right: 0px;
}
.venue-marker-popup-title-reqex-btn {
    flex: 1;
    z-index: 15 !important;
    display: flex;
    max-height: 30px;
    width: 40%;
    align-items: center;
    height: fit-content;
    font-size: 16px;
    text-align: center;
    margin: 1px;
    background-color: light-dark(var(--light-mode-secondary-color), var(--dark-mode-primary-color));
}
.venue-marker-popup-title-reqex-btn p {
    overflow: hidden;
    width: 100%;
    text-align: center !important;
    padding: 8px;
    color: var(--dark-mode-text-color);
}

/* Body */
.venue-marker-popup-events-container {
    width: 100%;
    overflow-y: auto;
    /* hide firefox scrollbar */
    scrollbar-width: none;
    border-radius: 8px;
}
/* hide chromium scrollbar */
.venue-marker-popup-events-container::-webkit-scrollbar {
    display: none;
}
.venue-marker-popup-eventcard-container {
    text-decoration: none;
}
.venue-marker-popup-eventcard {
    position: relative;
    width: 100%;
    height: 264px;
    padding-left: 10px;
    margin-top: 5px;
    border-radius: 8px;
    /* border: solid 0.5px light-dark(var(--light-mode-secondary-color), var(--dark-mode-accent-color)); */
    overflow: hidden;
}

.venue-marker-popup-event-backgroundimg {
    border-radius: 10px;
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
}
.venue-popup-event-info-container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
}
.venue-popup-event-info-name {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -0.02em;
    line-height: 1.2;
    margin-bottom: 12px;
    padding-right: 10px;
}
.venue-popup-event-info {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    color: rgba(255, 255, 255, 0.9);
}
.venue-popup-event-info img {
    height: 16px;
    width: 16px;
    margin-right: 4px;
}
.venue-popup-event-info-price {
    position: absolute;
    bottom: 8px;
    right: 4px;
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 9999px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}