.navbar {
    position: absolute;
    bottom: 18px; /* right above Leaflet and OpenStreetMap trademark */
    left: 0;
    right: 0;
    margin: auto; /*center div*/
    height: 50px;
    width: fit-content;
    z-index: 1;
    border-radius: 15px;
    display: flex;
    align-items: center;

    background-color: light-dark(var(--light-mode-background-color), var(--dark-mode-primary-color));
    color: light-dark(var(--light-mode-text-color), var(--dark-mode-text-color));
}
ul.btns-list {
    width: 100%;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;    
}
ul.btns-list > * {
    padding: 2px;
}
.nav-view-btn {
    margin: 10px;
}
.nav-view-btn button {
    background-color: light-dark(var(--light-mode-accent-color), var(--light-mode-primary-color));
    color: white;
}
#filter-btn {
    border: solid transparent;
    padding: 0px 8px;
    padding-top: 0px;
    margin-right: 2px;
    height: 34px;
    background-color: light-dark(var(--light-mode-accent-color), var(--dark-mode-secondary-color));
}
#filter-btn.selected {
    border: solid 1.5px light-dark(var(--light-mode-primary-color), var(--dark-mode-accent-color));
}
#songs-btn {
    border: solid transparent;
    padding: 0px 8px;
    padding-top: 0px;
    margin-left: 2px;
    height: 34px;
    background-color: light-dark(var(--light-mode-accent-color), var(--dark-mode-secondary-color));
}
#songs-btn.selected {
    border: solid 1.5px light-dark(var(--light-mode-primary-color), var(--dark-mode-accent-color));
}
.svg-container {
    /* border: solid red; */
    margin-top: 0px;
    height: 100%;
    width: 100%;
    color: light-dark(var(--light-mode-primary-color), var(--dark-mode-primary-color));
}