/* 
    .playlist-gen-view-container {
        display: flex;
        flex-direction: row;
        min-height: fit-content;
        height: 93%;
        margin-top: 35px;
        align-items: center; 
    }
*/
.root-layout {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5px;
}

/* Desktop screen layout */
@media (min-width: 768px) {
    .root-layout {
        flex-direction: row;
    }
}

/* Mobile screen layout */
@media (max-width: 767px) {
    .root-layout {
        flex-direction: column;
        align-items: center; /* Optional: center items vertically */
    }
}
.root-layout .nav {
    border: solid red;
    width: 40px;
}

.root-layout .view {
    border: solid blue;
    flex: 4;
}

.playlist-gen-view-container {
    display: grid;
    min-height: fit-content;
    height: 100%;
    border: solid red;
}
.all-bg-color { background-color: #abd3df; }
.spotify-bg-color { background-color: #00dc52; }
.youtube-bg-color { background-color: #ff4d4d; }

/* Song List Stlye */

/* Song List Item Style */



/* Save Playlist Style */
.save-playlist-view-container button {
    margin: 4px;
}
.save-playlist-modal-container {
    position: absolute;
    top: 30%;
    right: 5%;
    z-index: 4;
    height: fit-content;
    width: 90%;
    padding: 4px;
    border: 1px solid #888;
    border-radius: 7px;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.save-playlist-modal-container .header {
    flex: 1;
    border-radius: 5px;
    border-bottom: solid #33333320;
    display: flex;
    justify-content: space-between;
}
.save-playlist-modal-container .header h1 {
    flex: 1;
    font-size: 17px;
    font-weight: 540;
    color: black;
    margin-bottom: 5px;
    margin-left: 5px;
    text-align: center;
}
.save-playlist-modal-container .header p {
    font-size: 17px;
    font-weight: 540;
    color: black;
    margin-bottom: 5px;
    margin-left: 5px;
}
.save-playlist-modal-container .header button {
    background-color: transparent;
    color: #5b616a;
    border: none;
    margin-right: 2px;
    font-size: 18px;
}

.save-playlist {
    display: flex;
    align-items: center;
    color: black;
}
#playlist-name-input {
    position: relative;
    left: 1%;
    flex: 5;
    display: flex;
    align-items: center;
}
.save-playlist input {
    width: 40%;
}
#playlist-name-input label {
    margin-right: 4px;
}
.save-playlist-footer {
    margin-top: 4px;
    padding-top: 8px;
    border-top: solid #33333320;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.save-playlist-footer button {
    width: 200px;
    margin: 2px;
    margin-top: 0px;
}
