.notifications-container button{
    background-color: transparent;
    border: solid transparent;
}
.notifications-container button.selected {
    border: solid black;
}
.notifications-menu {
    position: absolute;
    top: 12%;
    right: 9%;
    z-index: 4;
    background-color: white;
    border: 1px solid #888;
    border-radius: 7px;
    height: 55%;
    width: 40%;
    display: flex;
    flex-direction: column;
}
.notifications-menu .header {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    border-bottom: solid #33333320;
}
.notifications-menu .title {
    display: flex;
    align-items: center;
}
.notifications-menu .header h1 {
    font-size: 17px;
    font-weight: 540;
    color: black;
    margin-bottom: 5px;
    margin-left: 5px;
}
.notifications-menu .header p {
    color: black;
    font-size: 11px;
    text-align: start;
    margin: 0px;
    margin-left: 5px;
    margin-bottom: 5px;
}
.notifications-menu button {
    background-color: transparent;
    color: #5b616a;
    border: none;
    margin-right: 2px;
    font-size: 18px;
}
.notification-list-container {
    padding: 4px;
}
.notification-list-item {
    border: solid #3b3b3b 1px;
    border-radius: 5px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    margin: 4px;
    color: black;
    padding: 4px;
    overflow-x: auto;
}
.notification-list-item .header {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #888;
    border-radius: 5px;
}
.notification-list-item .header h3 {
    font-size: 12px;
    margin-left: 10px;
}
/* progress bar */
.notification-list-item .message .progress-container {
    display: flex;
    justify-content: center;
}
.notification-list-item .message .progress-container .total {
    border-radius: 50px;
    height: 20px;
    width: 90%;
    background-color: #e0e0de;
    padding: 4px;
    margin-right: 4px;
    margin-top: 4px;
}
.notification-list-item .message .progress-container .current {
    height: 100%;
    border-radius: inherit;
    text-align: right;
    transition: width 1s ease-in-out;
}
.notification-list-item .message .progress-container span {
    padding: 5px;
    color: black;
    font-weight: bold;
}
