.radio-container {
    /* border: solid white; */
    width: 100%;
    height: 100%;
    margin: 10px;
}
.radio {
    width: 100%;
    height: 100%;
    background-color: #c08546; /* Wooden casing color */
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 600px) {
    .radio-container {
        width: 50%;
    }
}
.top-panel, .bottom-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.brand-logo {
    font-family: serif;
    font-size: 14px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    align-self: flex-start;
    margin-left: 15px;
    margin-top: 10px;
}

.dial {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #ccc;
}
.knob {
    stroke: black;
    transform-origin: 75px 75px;
}


.controls button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 10px;
    cursor: pointer;
}

.volume-knob {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #808080;
}

.grabber-description {
    margin: 10px;
}