button.open-map-view {
    /* border: solid red; */
    width: 80%;
    min-height: 40px;
    font-size: 1rem;
}

@media screen and (min-width: 600px) {
    button.open-map-view {
        min-height: 60px;
    }
}