button.open-map-view {
    /* border: solid red; */
    width: 80%;
    min-height: 40px;
    font-size: 1rem;
}

@media screen and (min-width: 750px) {
    button.open-map-view {
        min-height: 60px;
    }
}
.open-map-view {
    background-color: light-dark(var(--light-mode-accent-color), var(--dark-mode-secondary-color));
    color: var(--dark-mode-text-color);
}
button.theme-toggle {
    background-color: light-dark(var(--light-mode-accent-color), var(--dark-mode-secondary-color));
    color: var(--dark-mode-text-color);
    position: absolute;
    right: 20px;
    top: 50px;
}