.landing-view {
    width: 100vw;
    height: 93vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.call-to-action-container {
    flex: 1;
    padding-left: 10px;
    padding-right: 10px;
    /* border: solid blueviolet; */
}
.call-to-action-container h1 {
    /* border: solid red; */
    text-align: left;
    font-size: 24px;
}
.call-to-action-container p {
    text-align: left;
    font-size: 14px;
}
.data-stats-container {
    flex: 1;
    /* border: solid green; */
}

.playlists-carousel-container {
    /* border: solid red; */
    align-self: center;
    flex: 1;
    width: 96%;
    max-height: 640px;
    /* max-width: 640px; */
}
.playlist-cover {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 4px;
}