.landing-view {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.call-to-action-container {
    flex: 1;
    padding-left: 10px;
    padding-right: 10px;
    border: solid blueviolet;
}
.call-to-action-container h1 {
    /* border: solid red; */
    text-align: left;
    font-size: 24px;
}
.call-to-action-container p {
    text-align: left;
    font-size: 14px;
}
.data-stats-container {
    flex: 1;
    border: solid green;
}

.playlists-carousel-container {
    border: solid red;
    align-self: center;
    flex: 1;
    width: 96%;
    height: 300px;
}
/* .playlist-carousel-slide {
    border: solid yellow;
    width: 40%;
    
}
.radiogen-playlist {
    border: solid blue;
    color: white;
    width: 40%
} */