.radio {
    width: 300px;
    height: 200px;
    background-color: #c08546; /* Wooden casing color */
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.top-panel, .bottom-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.brand-logo {
    font-family: serif;
    font-size: 12px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.dial {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #ccc;
}
.knob {
    stroke: black;
    transform-origin: 75px 75px;
}


.controls button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 10px;
    cursor: pointer;
}

.volume-knob {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #808080;
}

.landing-view {
    width: 100vw;
    height: 93vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.beta-access-container {
    border: solid;
    width: 100vw;
    background-color: antiquewhite;
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.beta-request-modal {
    position: absolute;
    top: 12%;
    right: 5%;
    z-index: 4;
    border: 1px solid #888;
    border-radius: 7px;
    background-color: white;
    color: black;
    height: 400px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.beta-request-modal .input-container {
    width: 100%;
    display: flex;
    align-items: center;
}
.beta-request-modal label {
    margin-left: 10px;
}
label#notes-label {
    align-self: flex-start;
}
.beta-request-modal input {
    border: solid grey 1px;
    height: 20%;
    width: 95%;
    margin: 5px;
}
.beta-request-modal input.invalid {
    border: solid red;
}
.beta-request-modal textarea.notes {
    height: 50%;
    width: 96%;
    border-radius: 10px;
    background-color: white;
    color: black;
    /* padding-left: 10px; */
    /* text-indent: 10px; */
}
.beta-request-modal button {
    margin: 10px;
}

.call-to-action-container {
    flex: 1;
    padding-left: 10px;
    padding-right: 10px;
}
.call-to-action-container h1 {
    text-align: left;
    font-size: 24px;
}
.call-to-action-container p {
    text-align: left;
    font-size: 14px;
}

.data-stats-container {
    flex: 1;
}

.playlist-search {
    position: relative;
}
.playlist-search input {
    width: 300px;
    padding: 8px;
    font-size: 16px;
}
.playlist-search ul {
    z-index: 1;
    position: absolute;
    /* top: 100%; */
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-height: 200px;
    overflow-y: auto;
    /* list-style-type: none; */
    padding: 0;
    margin: 0;
    /* color: black; */
}
.playlist-search li{
    padding: 8px;
    cursor: pointer;
}
.playlist-search li:hover {
    background-color: #f0f0f0;
}
.playlist-search a {
    color: black;
    text-decoration: none;
}
.playlists-carousel-container {
    align-self: center;
    flex: 1;
    width: 96%;
    max-height: 640px;
}
.playlist-cover {
    text-decoration: none;
}
.playlist-cover div {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 4px;
}