/* Map Style */
.map-container {
    /* border: solid red; */
    position: relative;
    width: 60%;
    height: 99%;
}
#mapUI {
    margin: 5px;
    height: 99%;
    border-radius: 10px;
}
.map-container .address-search {
    position: absolute;
    top: 2%;
    left: 2.5%;
    z-index: 1; /* Ensure the input is on top of the map */
    border-radius: 4px;
    color: white;
    display: flex;
    justify-content: space-between;
}
.map-container .address-search input {
    border-radius: 15px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;

}
.map-container .address-search button{
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;

}