/* Map Style */
.map-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
#mapUI {
    z-index: 0;
    margin: 5px;
    height: 95vh;
    border-radius: 10px;
    cursor: auto;
}
.map-container .address-search {
    position: absolute;
    top: 2%;
    left: 2.5%;
    z-index: 1; /* Ensure the input is on top of the map */
    border-radius: 4px;
    color: white;
    display: flex;
    justify-content: space-between;
}
.map-container .address-search input {
    border-radius: 15px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;

}
.map-container .address-search button{
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;

}
.leaflet-popup-content-wrapper {
    color: white;
    background-color: #242424;
    width: fit-content !important;
}
.leaflet-popup-content {
    width: 240px !important;
}
.leaflet-popup-tip {
    background-color: #242424;
}
.venue-marker-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    max-height: 400px;
    overflow: auto;
    padding: 0px;
    margin: 0px;
    background-color: #242424;
}
.venue-marker-popup .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid black;

}
.venue-marker-popup .title .venue-name {
    flex: 1;
    color: white;
    
}
.venue-marker-popup .title .reqex-btn-container {
    width: fit-content;
    display: flex;
    justify-content: end;
    padding-right: 0px;
}
.venue-marker-popup .title .reqex-btn {
    display: flex;
    max-height: 30px;
    width: 40%;
    align-items: center;
    height: fit-content;
    padding: 2px;
    font-size: 16px;
    text-align: center;
    margin: 1px;
}
.venue-marker-popup .title .reqex-btn.ex-btn {
    font-size: 24px;
}
.venue-marker-popup .title .reqex-btn p {
    overflow: hidden;
    width: 100%;
    text-align: center;
}
.venue-marker-popup .events-info-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    width: 100%;
    padding: 0px;
}
.venue-marker-popup .events-info-list .event-info-container {
    border: 1px solid grey;
    border-left: 1px solid grey;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: white;

}
.venue-marker-popup .events-info-list a {
    width: 200px;
    height: fit-content;
    cursor: pointer;
    margin: 10px;
    border-radius: 10px;
    padding: 5px;
    border: solid 1px grey;
    z-index: 6;
}
.venue-marker-popup .events-info-list a img {
    width: 200px;
    height: 133px;
    border-radius: 10px;
}
.map-container .btn-tray {
    position: absolute;
    top: 2%;
    right: 2.5%;
    z-index: 1; /* Ensure its on top of the map */
    border-radius: 4px;
    background-color: #ffffff81;
    display: flex;
    justify-content: end;
    align-items: center;
    width: fit-content;
    margin-top: 4px;
}